body, html {
  margin: 0;
  padding: 0;
}

.home_container{
  background-image: url(./components/background.jpg);
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.shortcut{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 9vh;
  padding-top: 30vh;
  padding-left: 50vh;
  cursor: pointer;
}

.icon_container{
  display: flex;
  align-items: flex-end;
}

.shortcut_icon{
  padding-top: 10vh;
}

.puffgirl_icon img{
  width: 120px;
  object-fit: contain;
}

.puffgirl_text{
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}