@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

.intro_container {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}

.img_wrapper {
    position: relative;
}

.puffgirl_img {
    position: absolute;
    width: 350px;
    height: 350px;
    bottom: 35vh;
    left: 13vw;
}

.text_container {
    position: absolute;
    margin-top: 55vh;
    margin-left: 5vw;
}

.myName {
    -webkit-text-stroke: 4px #a2ffb1;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: transparent;
    font-size: 96px;
    letter-spacing: 6px;
    line-height: 110px;
}

.portfolio_text {
    font-family: 'HBIOS-SYS';
    font-weight: 400;
    color: #c2ffc8;
    font-size: 74px;
    letter-spacing: 4.5px;
    line-height: 40px;
}
  